In [113]:
import numpy as np
import pandas as pd
import os

In [114]:
%pwd

'c:\\Users\\galib\\AI\\Projects\\TitanicMLProject\\notebooks'

In [115]:
train_data = pd.read_csv("../data/train.csv")

In [116]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [117]:
train_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [118]:
women = train_data.loc[train_data.Sex=='female']['Survived']

In [119]:
rate_women = (sum(women)/len(women))*100

In [126]:
print(f"% of women who survived : {round(rate_women,3)}% \nlength :{len(women)} \nSum :{sum(women)}")

% of women who survived : 74.204%
length :314
Sum :233

In [128]:
men = train_data.loc[train_data.Sex=='male']['Survived']
men_rate = (sum(men)/len(men))*100
print(f"% of men who survived : {round(men_rate,3)}% \nlength :{len(men)} \nSum :{sum(men)}")

% of men who survived : 18.891%
length :577
Sum :109

In [152]:
print(f"Total population : {((len(women)/len(train_data))+(len(men)/len(train_data)))*100} \nWomen population :{(len(women)/len(train_data))*100} 
      \nMen population :{(len(men)/len(train_data))*100}")

SyntaxError: EOL while scanning string literal (3762282246.py, line 1)

In [58]:
train_data['Sex'].nunique()

2

In [59]:
train_data['Survived'].nunique()

2

In [124]:
len(train_data)

891